*{
    position: absolute;

    padding: 0;
    margin: 0;
}
.content{
    width: 100%;
    height: 100%;

    z-index: 0;
}
app-menu{
    position: absolute;

    background-color: black;
    width: 100vw;
    height: 100vh;
    transform: translateX(-100vw);
    visibility: hidden;
    transition: 1s;
    
    z-index: 5;
}

.animation{
    position: sticky;

    z-index: -9;
}

#main-page{
    position: absolute;
    
    width: 90vw;
    height: 90vh;
    bottom: 0;
    right: 0;
}

#dots {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 4vw;

    -webkit-text-stroke: 0.1vw white;
    color: rgb(126, 126, 126);

    padding-left: 2vw;
    transition: 0.5s;
    opacity: 0.2;

    z-index: 5;
}

#dots::before {
    content: "...";

    transform: translate(15%, 5%);
    position: absolute;
    transition: 0.5s;
    opacity: 0;
    
    pointer-events: none;

    color: transparent;
}

#dots:hover {
    color: white;
    opacity: 1;
}

#dots:hover::before {
    opacity: 1;
}
#main-page{
    z-index: 1;
}